<div class="wrap">
  <div class="stage">
    {{stage.name}}
    <app-edit-stage [isEditStage]="isEditStage" [stage]="stage" [task]="task">  </app-edit-stage>
  </div>
  <app-task-form (create)="addTask($event)"></app-task-form>
  <div *ngFor="let task of stage.tasks; let i=index">
    <br>
    <div>
      <app-task [moveEnabled]="moveEnabled" [dropEnabled]="dropEnabled" (moveTask)="onTaskMoved($event)" (dropTask)="onTaskDrop($event)"
        (delTask)="deleteTask($event)" [task]="task"></app-task>
    </div>
    <br>
  </div>
</div>