<form [formGroup]="taskForm" (submit)="createTask()">
  <br>
  <div>
    <label title="Name">
      Name:
      <br>
      <input formControlName="taskName" placeholder="Task">
    </label>
  </div>
  <app-control-error [control]="taskForm.controls.taskName"></app-control-error>
  <label title="Description">
    Description:
    <br>
    <textarea formControlName="taskDescription" cols="30" rows="3" placeholder="Description"></textarea>
  </label>
  <app-control-error [control]="taskForm.controls.taskDescription"></app-control-error>
  <br>
  <label title="Priority">
    Priority:
    <select formControlName="taskPriority">
      <option *ngFor="let priority of priorities; let i=index" [value]="priority">
        {{this.prioritiesName[i]}}
      </option>
    </select>
  </label>
  <br>
  <label title="Исполнитель задачи">Исполнитель:
    <select formControlName="executorName">
      <option *ngFor="let exec of executors" [value]="exec">{{exec}}</option>
    </select>
  </label>
  <app-control-error [control]="taskForm.controls.executorName"></app-control-error>
  <br>
  <button class="add_button" type="submit">+</button>
</form>