.flexButton {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  text-align: center;
  margin: 0.2vmax;
}

p {
  padding: 1vmax;
  width: 20vw;
  color: #292928;
  font-weight: bold;
  font-size: 1.4vmax;
}

.style2 {
  background-color: #E0E91C;
}

.style1 {
  background-color: #F75045;
}

.style3 {
  background-color: #6FF745;
}

.done {
  background-color: #9D9995;
}

span {
  color: #1B4631;
  font-size: 1vmax;
}
